    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user.user_info', username=post.author.username) }}">
                    <img src="{{ get_avatars(post.author.email, 36) }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('user.user_info', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                说 {{ moment(post.timestamp).fromNow() }}：
                <br>
                {{ post.body }}
            </td>
        </tr>
    </table>
