{% extends 'base.html' %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ get_avatars(user.email, 128) }}"></td>
            <td>
                <h1>用户：{{ user.username }}</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    最后访问于：<p>{{ user.last_seen }}</p>
                {% endif %}
                <p>
                    粉丝 {{ user.followers.count() }}，关注 {{ user.followed.count() }}
                </p>
                {% if user == current_user %}
                    <p><a href="{{ url_for('user.user_info_edit') }}">编辑您的资料</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('user.follow', username=user.username) }}">关注</a></p>
                {% else %}
                    <p><a href="{{ url_for('user.unfollow', username=user.username) }}">取消关注</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include 'common/post.html' %}
    {% endfor %}
    <p>
        {% if prev_url %}
            <a href="{{ prev_url }}">上一页</a>
        {% endif %}
        &nbsp;第{{ page }}页&nbsp;
        {% if next_url %}
            <a href="{{ next_url }}">下一页</a>
        {% endif %}
    </p>
{% endblock %}
