{% extends 'base.html' %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ get_avatars(user.email, 128) }}"></td>
            <td>
                <h1>用户：{{ user.username }}</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    最后访问于：<p>{{ user.last_seen }}</p>
                {% endif %}
                {% if user == current_user %}
                    <p><a href="{{ url_for('user.user_info_edit') }}">编辑您的资料</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include 'common/post.html' %}
    {% endfor %}
{% endblock %}
