<table class="table">
    <tr>
        <td width="64px" style="border: 0px;"><img src="{{ get_avatars(user.email, 128) }}"></td>
        <td style="border: 0px;">
            <p>
                <a href="{{ url_for('main.user_info', username=user.username) }}">
                    {{ user.username }}
                </a>
            </p>
            <small>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    {{ _('最后访问于') }}：<p>{{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <p>
                    {{ _('粉丝') }} {{ user.followers.count() }}，{{ _('关注') }} {{ user.followed.count() }}
                </p>
                {% if user == current_user %}
                    <p><a href="{{ url_for('main.user_info_edit') }}">{{ _('编辑您的资料') }}</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('main.follow', username=user.username) }}">{{ _('关注') }}</a></p>
                {% else %}
                    <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('取消关注') }}</a></p>
                {% endif %}
            </small>
        </td>
    </tr>
</table>
